body {
    font-family: 'spectral', sans-serif;
    color: #291f1a;
    font-weight: 300;
}

header nav #main-nav {
    display: inline-block;
    position: fixed;
    background-color: #fff;
    width: 100%;
    
}

header {
        text-align: right;
}

header a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    margin: 20px;
}

header a:hover {
    color: #291f1a;
}