body {
    font-family: 'spectral', sans-serif;
    color: #291f1a;
    font-weight: 300;
    box-sizing: border-box;
}

#main-nav {
    display: inline-block;
    position: fixed;
    background-color: #fff;
    width: 100%;
    text-align: right;
    top: 0;
    right: 0;
}


nav a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    margin: 20px;
    font-size: 1.5em;
}

header a:hover {
    color: #291f1a;
}

#main-header {
    background-image: url("../img/header-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding 30vh;
}

#main-header .main-header-content h1 {
    font-size: 5em;
    color: #fff;
    text-align: center;
    font-family: "roboto";
    sans-serif;
}

#main-header .main-header-content h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}



#about {
    padding: 0 80px 100px;
    width: 100%;
}

#portret {
    max-width: 350px;
}

article,
figure {
    width: 50%;
    float: left;
}

figure {
    margin: 0;


}

#portret {
    margin-left: 25%;
    width: 100%;
    border: 15px solid white;
    border-radius: 15%;

}

#about {
    background-color: #f9fcfe;
    height: 500px;

}

#article > h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;

}

article > h2 {
    text-align: left;
    color: #291f1a;
}

.ikonki {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    align-items: center;
    position: relative;
    top: 0;
    left: 33%;
    bottom: 0;
    right: 0;

}

#skills h2 {
    display: block;
    text-align: center;
    margin: 0 auto;
   
}

.akapit {
    text-align: 50px;
      
}